.webTitle {
    text-align: center;
    width: fit-content;
    margin: 30px auto auto auto;
}

.header-title {
    text-decoration: none;
    color: black;
    display: block;
    width: fit-content;
    margin: 30px auto auto auto;
}

.profile-btn {
    border: none;
    background: transparent;
}

.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid black;
}

.dropdown {
    position: absolute;
    display: inline-block;
    border: none;
    width: 50px;
    height: 50px;
    top: 1px;
    right: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 100px;
    text-align: center;
    right: -30px;
    box-shadow: 0 0 1rem 3px rgba(0 0 0 / 15%);
    border-radius: 10%
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 12px;
    padding: 12px 20px;
}

.dropdown-content button {
    width: 100%;
    border: none;
    background: transparent;
    color: rgb(37, 37, 37);
    font-size: 12px;
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #ececec;
}

.dropdown-content a:hover {
    background-color: #ececec;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#myPage-btn {
    border-bottom: 1px solid #ececec;
}

.book {
    display: inline;
    margin-top: 30px;
}

.page-header {
    position: relative;
}

hr {
    margin-top: 30px;
    height: 1px;
    border: 0;
    background: #cec8c8;
}

