<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myPageCss.css}">
    <link rel="stylesheet" type="text/css" href="css/myPageCss.css">
    <title>책쟁이</title>
</head>
<body>

<div class="container">
    <div class="page-header">
        <a class="header-title" th:href="@{/mainPage}">
            <h1 class="webTitle">책쟁이</h1>
        </a>
        <div class="dropdown">
            <button class="profile-btn">
                <img class="profile-img" src="https://static-storychat.pstatic.net/2020/3/30/10/2460260_f06h215h5i790.jpg?type=rsc5" alt="마이페이지"/>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/myPage}" id="myPage-btn">마이페이지</a>
                <form th:action="@{/home}" method="post"><button type="submit">로그아웃</button></form>
            </div>
        </div>
        <hr>
    </div>


</div>

</body>
</html>