<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/zeroReviewListCss.css}">
  <link rel="stylesheet" type="text/css" href="css/zeroReviewListCss.css">
  <title>책쟁이</title>
</head>
<body>

<div class="container">
  <div class="page-header">
    <a class="header-title" th:href="@{/mainPage}">
      <h1 class="webTitle">책쟁이</h1>
    </a>
    <div class="dropdown">
      <button class="profile-btn">
        <img class="profile-img" src="https://static-storychat.pstatic.net/2020/3/30/10/2460260_f06h215h5i790.jpg?type=rsc5" alt="마이페이지"/>
      </button>
      <div class="dropdown-content">
        <a th:href="@{/myPage}" id="myPage-btn">마이페이지</a>
        <form th:action="@{/home}" method="post"><button type="submit">로그아웃</button></form>
      </div>
    </div>
    <hr>
  </div>

  <div class="mom">
    <div class="form-group">
      <img th:src="${cover}" id="cover" name="cover" style="border-radius: 5%;"><br>
      <span th:text="${title}" id="title"></span><br>
      <span id="저자">저자
           <span th:text="${author}" id="author"></span></span>
      <span id="출판사">출판사
            <span th:text="${publisher}" id="publisher"></span></span>
      <br>
    </div>

    <div class="zero-group">
      <div class="review-group">
        <span id="write">리뷰가 없습니다~<br><br>첫번째 리뷰 작성자가<br> 되어주세요 :)</span><br>
        <button type="button" id="writeReview" th:data="${title}" onclick="getTitle(this.getAttribute('data'))">리뷰 작성하러 가기</button>
      </div>
      <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDAzMzFfNDYg%2FMDAxNTg1NjU0NTQzNjIw.JLAjqm12FlAnGZpsuUbbQ--NdOFfni6dTFw_-2z6l1Qg.ZmhIAnQiz2hRlVOkPa6jmtyzCq4CwbCvBf6_99uQOWQg.JPEG.bearpin_%2F1585654558345.jpg&type=sc960_832" id="image"/>
    </div>

  </div>




</div>
<script src="js/bookReview.js"></script>


</body>
</html>